.uppermain {
  border: 1px solid rgb(207, 207, 207);
  height: 52px;
  border-radius: 2px;
  padding: 6px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lowermain {
  margin-top: 15px;
  border: 1px solid rgb(207, 207, 207);
  height: 445px;
  border-radius: 2px;
}
.iconmaintop {
  padding-right: 10px;
}
